<div class="p-4">
  <h1 class="text-3xl justify-center font-extrabold"><%= @question.title %></h1>
</div>
<div class="flex p-4">
  <%= render partial: 'votes/votes'%>
  <div class="w-full">
    <div>
      <p><%= @question.description_markdown.html_safe %></p>
    </div>
    <div class="flex-col">
      <%= render partial: 'comments/comments_question', locals: { comments: @comments, votable: @question, question: @question} %>
      <%= render partial: 'comments/comment_form', locals: { commentable: @question } %>
    </div>
  </div>
</div>