<div class="flex flex-col mr-4" id="votes_question">
  <% if current_user && !current_user.votes.exists?(votable: question) %>
    <%= button_to question_votes_path(question) do %>
      <i class="fa-regular fa-circle-up text-3xl"></i>
      <p class="text-center"> <%= question.votes_count %></p>
    <% end %>
  <% elsif current_user && current_user.votes.find_by(votable: question) %>
    <%= button_to question_vote_path(question, question.votes), method: :delete do %>
      <i class="fa-solid fa-circle-up text-3xl"></i>
      <p class="text-center"><%= question.votes_count %></p>
    <% end %>
  <% else %>
    <i class="fa-regular fa-circle-up text-3xl"></i>
    <p class="text-center"> <%= question.votes_count %></p>
  <% end %>
</div>