<!DOCTYPE html>
<html>
  <head>
    <title>Flowoverstack</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css" rel="stylesheet" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <main>
      <div>
        <%= render partial: 'shared/notifications', locals: { message: flash[:notice]} %>
        <%= render partial: 'shared/notifications', locals: { message: flash[:alert] } %>
        <%= turbo_frame_tag 'modal' %>
        <%= yield %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
      </div>
    </main>
  </body>
</html>
